.big_card{
    flex-direction: column-reverse;
}
.card_text{
    width: 100%;

}
.tag_para {
    height: 40%;
    width: 100%;
}

.tag_img {
    height: 60%;
    width: 100%;
}
.bottom_card{
    flex-direction: column;
}
.bottom_img1 {
    height: 50%;
    width: 100%;
}
.bottom_text{
    height: 50%;
    width: 100%;
}
.first_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.second_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_sec{
    height: 150vh;
}
.footer_para{
    height: 95vh;
}
.navlist{
    display:none !important;
}
/* #personal #business #enterprise #Developer{
    display: block;
} */
.tagline{
    font-size: 4rem;
}
#item1{
    display: none;
}
.navbar{
    justify-content: flex-end;
}
.r_navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#item2{
    width: 30%;
}
#item3{
    width: 30%;
}
#item4 {
    display: flex;
    cursor: pointer;
    width: 5vw;
    height: 5vw;
}
#side_m{
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: 5;
    position: absolute;
    margin-top: 14vh;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
}
.side{
    width: 69%;
    height: 10%;
    display: flex;
    font-size: 4.8vw;
    color: #001c64;
    align-items: center;
    justify-content: space-between;
}
.scroll{
    position: fixed;
    height: 100vh;
    overflow: hidden;
}