@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0vh 0vw;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

}


/* NAVBAR */

.navbar {
    display: flex;
    width: 98vw;
    height: 13vh;
}

.l_navbar {
    display: grid;
    height: 93%;
    align-items: center;
    grid-template-columns: auto 7.25rem 8rem 8rem 9rem 8rem;
    width: 50%;
    overflow: visible;
}
.l_navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    height: 100%;
}
.l_navbar a:hover{
    font-weight: bold;
    background-color: #ecf3fb;
    border-radius: 25px;
}

.arrow {
    height: 11px;
    width: 11px;
}

.navlist {
    font-size: 20px;
}

.r_navbar {
    display: grid;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 9.3rem 8rem 9.5rem;
    font-size: 20px;
    width: 50%;
}

#item2 {
    height: 42%;
    border: 2px solid #001c64;
    border-radius: 25px;
}
#item2:hover{
    border-color: #0070e0;
}
#item2 a:hover{
    border-color: #0070e0;
    color: #0070e0;
}
a {
    text-decoration: none;
    color: #001c64;
    padding: 5px 6px;
}

#Developer a:hover{
    border: 2px solid rgb(211, 211, 211);
    border-radius: 25px;
    color: #0070e0;
    background-color: white;
}
#item1 a:hover{
    border: 2px solid rgb(211, 211, 211);
    border-radius: 25px;
    color: #0070e0;
}

#item3 {
    height: 45%;
    border-radius: 25px;
    color: white;
    background-color: #001c64;
}
#item3:hover{
    background-color: #0070e0;
}

.r_navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 5px;
    font-weight: bold;
}

.img {
    height: 2.5rem;
    width: 2.25rem;
    grid-column-start: 1;
    grid-column-end: 3;
}


/* CARD */


.tag {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}

.tagline {
    text-align: left;
    font-size: 4.7rem;
    width: 70%;
    font-weight: bolder;
    color: #001c64;
}

.tag_item1 {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 5px;
}

.tag_item2 {
    display: flex;
    height: 27%;
    flex-direction: column;
    font-size: 1.2rem;
    padding: 17px 58px 17px 0px;
}

.big_card {
    color: white;
    background-color: rgb(21, 21, 132);
    display: flex;
    flex-direction: row;
    height: 64%;
    width: 78%;
    border-radius: 30px;
    overflow: hidden;
}

.tag_para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 54px;
    height: 100%;
    width: 50%;
}

.tag_img {
    height: 100%;
    width: 50%;
}

.btn {
    position: relative;
    border: none;
    height: 60%;
    width: 55%;
    font-size: 1.3rem;
    border-radius: 50px;
    margin-top: 27px;
    font-weight: 700;
    color: navy;
}
.btn:hover{
    background-color: #0070e0;
    color: white;
    cursor: pointer;
}


.s_box {
    display: flex;
    flex-direction: column;
    height: 27vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.s_text {
    text-align: left;
    width: 78%;
    font-size: 2.3rem;
    color: #001c64;
}

.discover {
    text-align: left;
    width: 78%;
    font-size: 1.5rem;
    color: #0070e0;
    font-weight: 600;
}

.card_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 88vh;
    width: 120%;
    max-width: 120vw;
    padding: 0px 9vw;
}

.card {
    width: 30vw;
    height: 84%;
    border-radius: 30px;
    overflow: hidden;
    margin: 0px 2vw;
}

.c_img {
    height: 55%;
    width: 100%;
}

.c_text {
    background-color: rgb(255, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 45%;
    width: 100%;
    font-size: 2rem;
}

.txt1 {
    width: 80%;
    padding: 25px 0px;
    color: #001c64;
}

.txt2 {
    width: 79%;
    font-size: 1.3rem;
    color: #0070e0;
}

.info_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info_txt {
    font: 0.9rem sans-serif;
    width: 78%;
    color: rgb(1, 1, 82);
}

.More_ways {
    display: flex;
    height: 45vh;
    flex-direction: column;
    width: 78%;
    padding: 0% 11%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #001c64;
}

.bottom_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450vh;
    width: 100%;
}

.bottom_card {
    display: flex;
    width: 78%;
    height: 100vh;
    margin: 3vh 0vw;
}

.bottom_img1 {
    width: 50%;
    border-radius: 50px;
    overflow: hidden;
}

.bottom_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0vh 2vw;
}

.bottom_big {
    padding: 20px 30px;
    font-size: 4rem;
    color: #001c64;
}

.bottom_small {
    padding: 10px 40px;
    line-height: 1.6;
    color: #001c64;
    font-weight: 100;
    font-size: 1rem;
    font: 1rem sans-serif;
}

.bottom_2 {
    flex-direction: row-reverse;
}

#bottom_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bg_b.jpg);
}

#b_img2 {
    object-fit: 50%;
    width: 80%;
    height: 40%;
}

.Join_big {
    padding: 0px 30px;
    font-size: 3rem;
    padding: 0vh 3vw;
}

#QR {
    display: grid;
    margin-top: 28vh;
    justify-content: center;
    align-items: center;
    grid-template-rows: 3rem 5rem 5rem 5rem;
    grid-template-columns: 10rem 12rem 12rem;
    /* background-color: red; */
    width: 60%;
    height: 50%;
    overflow: hidden;
}

.q_section {
    display: flex;
    justify-content: center;
    align-content: center;
}

#b_item1 {
    display: block;
    grid-area: 1/1/2/4;
    font: 1rem sans-serif;
    color: #001c64;
}

#b_item2 {
    grid-area: 2/1/4/2;
    background-color: #001c64;
    font: 1.2rem sans-serif;
}

#b_item3 {
    grid-area: 2/2/3/4;
    width: 20rem;
    height: 4rem;
    font-size: 2rem;
}

.input {
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid rgb(202, 202, 202);
    width: 95%;
    height: 95%;
    border-radius: 5px;
}

#b_item4 {
    grid-area: 3/2/4/3;
}

#b_item5 {
    grid-area: 4/1/4/3;
    font: 1rem sans-serif;
    color: #001c64;
}

.QR_img {
    height: 10rem;
    width: 10rem;
}

.fbtn {
    width: 9.7rem;
    height: 3.2rem;
    background-color: #001c64;
    color: white;
    border-radius: 30px;
    font: 1.2rem sans-serif;
    font-weight: 700;
    border: none;
}
.fbtn:hover{
    background-color: #0070e0;
    color: white;
}
.footer_sec{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.footer_content{
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer_logo{
    width: 100%;
    height: 15vh;
}
.f_logo_img{
    width: 14vw;
    height: 9vh;
}
.first_menu{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 4vw 6vw 4vw 6vw 4vw 4vw 6vw 6vw 6vw auto;
    color: #001c64;
    font-weight: 800;
    font-size: 0.9rem;

}
.fm_items{
    display: flex;
    align-items: center;
}
.fm_items:hover{
    text-decoration: underline;
    cursor: pointer;
}
#us_box{
    justify-content: flex-end;
}
.usa{
    width: 2vw;
    height: 3vh;
}
.second_menu{
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 3vw 6vw 3vw 8vw 7vw 6vw auto 6vw 4vw 4vw 4vw;
    color: #001c64;
    font-weight: 800;
    grid-gap: 10px;
    font-size: 0.9rem;
}
.sm_items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm_items_r{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sm_items:hover,.sm_items_r:hover{
    text-decoration: underline;
    cursor: pointer;
}
.copyright{
    color: black;
    font-weight: 100;
}
.copyright:hover{
    cursor: text;
    text-decoration: 
    none;
}
.footer_para{
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.para{
    font: 0.9rem sans-serif;
    line-height: 1.5;
}
.p_h{
    color: #0070e0;
    font-weight: 900;
}

.drop_head{
    height: 12vh;
    width: 78%;
    color: #001c64;
    display: flex;
    align-items: center;
}
.drop_card{
    height: 50vh;
    width: 78%;
    display: grid;
    grid-template-columns: 19vw 19vw 20vw 19vw;
    grid-template-rows: 48vh;
    grid-gap: 1vw;
    /* justify-content: center;
    align-items: center; */
}
.card_ele{
    display: flex;
    flex-direction: column;
}
.c1{
    grid-column: 1/2;
}
.c2{
    grid-column: 2/3;
}
.c3{
    grid-column: 3/4;
}
.c4{
    grid-column: 4/5;
}

.card_items{
    padding: 6px 10px;
    margin: 3px;
    font-size: 1.2rem;
    color: #001c64;
}
.card_items:hover{
    font-weight: 600;
    border: 1px solid gainsboro;
    border-radius: 5px;
    cursor: pointer;
    color: #0070e0;
}
.main_txt{
    font-size: 1.75rem;
}
hr {
    color: black;
    width: 96%;
}
.head_txt{
    font-size: 2.5rem;
}
.c4_1{
    display: flex;
    width: 15vw;
    height: 10vh;
    margin: 3vh 0vw;
    background-color: rgb(249, 247, 247);
    align-items: center;
    font-size: 1.2rem;
    border-radius: 20px;
    color: #001c64;
    border: none;
}
.c4_1:hover{
    cursor: pointer;
    color: #0070e0;
    font-weight: 600;
    border: 1px solid gainsboro;
    background-color: white;
    
}
.dropdown{
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 1;
    background-color: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
